{% extends regular_data.base_filepath %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="text_container">
            <p>
                Regensburger Straße 16<br>
                D-85098 Großmehring<br>
            
                Tel. 08407 240<br>
                Fax: 08407 931965
            </p>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2629.8433217919633!2d11.534109915983981!3d48.76578827927855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e551f5d826beb%3A0x346938afb549263d!2sRegensburger%20Str.%2016%2C%2085098%20Gro%C3%9Fmehring!5e0!3m2!1sde!2sde!4v1654947240794!5m2!1sde!2sde"
            width="600" height="450" style="border:0;border-radius:10px;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{% endblock %}