<!DOCTYPE html>
<html lang="de">
    <head>
        {% autoescape false %}
        <title>{{regular_data['head_title']}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% for css_file in regular_data.css_files %}
        <link rel="stylesheet" type="text/css" href="{{regular_data['css_files'][css_file]}}">
        {% endfor %}
        {% for js_file in regular_data.js_files %}
        <script src="{{regular_data['js_files'][js_file]}}"></script>
        {% endfor %}
        {% for font_element in regular_data.fonts %}
        <link href="{{regular_data['fonts'][font_element]}}" rel="stylesheet">
        {% endfor %}
        {% for icon_element in regular_data.icons %}
        {{regular_data['icons'][icon_element]}}
        {% endfor %}
        {% endautoescape %}
    </head>
    <body lang="de">
        <div class="heading">
            <h1>{{regular_data['heading_title']}}</h1>
        </div>
        <div class="topnav" id="myTopnav">
            {% if regular_data.page_name == "index" %}
            <a href="{{url_for('index_route')}}" class="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            {% else %}
            <a href="{{url_for('index_route')}}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            {% endif %}
            {% if regular_data.page_name == "kontakt" %}
            <a href="{{url_for('kontakt_route')}}" class="active"><i class="fa fa-address-book" aria-hidden="true"></i> Kontakt</a>
            {% else %} 
            <a href="{{url_for('kontakt_route')}}"><i class="fa fa-address-book" aria-hidden="true"></i> Kontakt</a>
            {% endif %}
            {% if regular_data.page_name == "team" %}
            <a href="{{url_for('team_route')}}" class="active"><i class="fas fa-users"></i> Team</a>
            {% else %}
            <a href="{{url_for('team_route')}}"><i class="fas fa-users"></i> Team</a>
            {% endif %}
            <div class="dropdown">
                {% if regular_data.page_name == "tortensortiment" or regular_data.page_name == "fototorten" or regular_data.page_name == "hochzeitstorten" or regular_data.page_name == "festtagstorten" %}
                <a class="dropbtn" id="active">Torten <i class="fa fa-caret-down"></i></a>
                {% else %}
                <a class="dropbtn">Torten <i class="fa fa-caret-down"></i></a>
                {% endif %}
                <div class="dropdown-content">
                    <a href="{{url_for('tortensortiment_route')}}"><i class="fas fa-database"></i> Tortensortiment</a>
                    <a href="#Fototorten"><i class="fa fa-camera-retro" aria-hidden="true"></i> Fototorten</a>
                    <a href="{{url_for('hochzeitstorten_route')}}"><i class="fas fa-ring"></i> Hochzeitstorten</a>
                    <a href="#Festtagstorten"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Festtagstorten</a>
                </div>
            </div>
            <div class="dropdown">
                {% if regular_data.page_name == "occasions" or regular_data.page_name == "ostern" or regular_data.page_name == "weihnachten" or regular_data.page_name == "aller_heiligen" %}
                <a class="dropbtn" id="active">Besondere Anlässe <i class="fa fa-caret-down"></i></a>
                {% else %}
                <a class="dropbtn">Besondere Anlässe <i class="fa fa-caret-down"></i></a>
                {% endif %}
                <div class="dropdown-content">
                    <a href="#ostern"><i class="fas fa-egg"></i> Ostern</a>
                    <a href="#weihnachten"><i class="fa fa-tree" aria-hidden="true"></i> Weihnachten</a>
                    <a href="#aller_heiligen">Aller Heiligen</a>
                </div>
            </div>
            {% if regular_data.page_name == "service" %}
            <a href="{{url_for('service_route')}}" class="active">Service</a>
            {% else %}
            <a href="{{url_for('service_route')}}">Service</a>
            {% endif %}
            {% if regular_data.page_name == "anfahrt" %}
            <a href="{{url_for('anfahrt_route')}}" class="active"><i class="fa fa-car" aria-hidden="true"></i> Anfahrt</a>
            {% else %}
            <a href="{{url_for('anfahrt_route')}}"><i class="fa fa-car" aria-hidden="true"></i> Anfahrt</a>
            {% endif %}
            {% if regular_data.page_name == "impressum" %}
            <a href="{{url_for('impressum_route')}}" class="active">Impressum</a>
            {% else %}
            <a href="{{url_for('impressum_route')}}">Impressum</a>
            {% endif %}
            <!--<a href="{{url_for('login_route')}}"><i class="fas fa-sign-in-alt"></i> Login</a>!-->
            <a href="javascript:void(0);" class="icon" onclick="NavbarFunction()">&#9776;</a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        {% if regular_data.red_flash_keyword in message %}
        <div class="alert_container_red"><p>{{message}}</p></div>
        {% else %}
        <div class="alert_container_green"><p>{{message}}</p></div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        <div class="cookie_question_container" id="cookie_question_container">
            <a id="close_cookie_container" onclick="CloseCookieQuestionContainer();"><i class="fa fa-times" aria-hidden="true"></i></a>
            <p></p>
            <a href="#" id="akzeptieren_link">Akzeptieren</a>
            <a href="#" id="ablehnen_link">Ablehnen</a>
        </div>
        <div class="footer">
            <p id="text">© 2022 Bäckerei Neumayer</p>
            <div class="links">
                <a id="footer_link" href="{{url_for('impressum_route')}}">Impressum</a>
                <a id="footer_link" href="{{url_for('kontakt_route')}}">Kontakt</a>
            </div>
        </div>
    </body>
</html>
<style>
    .heading {
        background-image: url("{{regular_data['heading_banner_img_path']}}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
