<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{{regular_data['head_title']}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% for css_file in regular_data.css_files %}
        <link rel="stylesheet" type="text/css" href="{{regular_data['css_files'][css_file]}}">
        {% endfor %}
        {% for js_file in regular_data.js_files %}
        <script src="{{regular_data['js_files'][js_file]}}"></script>
        {% endfor %}
        {% for font_element in regular_data.fonts %}
        <link href="{{regular_data['fonts'][font_element]}}" rel="stylesheet">
        {% endfor %}
        {% for icon_element in regular_data.icons %}
        <link rel="stylesheet" href="{{regular_data['icons'][icon_element]}}">
        {% endfor %}
    </head>
    <body lang="de">
        <div class="heading">
            <h1>{{regular_data['heading_title']}}</h1>
        </div>
        <div class="topnav" id="myTopnav">
            <a href="{{url_for('index_route')}}"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            <a href="{{url_for('kontakt_route')}}"><i class="fa fa-address-book" aria-hidden="true"></i> Kontakt</a>
            <div class="dropdown">
                <button class="dropbtn">
                    Torten
                    <i class="fa fa-caret-down"></i></button>
                <div class="dropdown-content">
                    <a href="#Tortensortiment">Tortensortiment</a>
                    <a href="#Fototorten"><i class="fa fa-camera-retro" aria-hidden="true"></i> Fototorten</a>
                    <a href="#Hochzeitstorten">Hochzeitstorten</a>
                    <a href="#Festtagstorten"><i class="fa fa-birthday-cake" aria-hidden="true"></i> Festtagstorten</a>
                </div>
            </div>
            <a href="{{url_for('about_route')}}">Über Uns</a>
            <a href="{{url_for('service_route')}}">Service</a>
            <a href="{{url_for('anfahrt_route')}}"><i class="fa fa-car" aria-hidden="true"></i> Anfahrt</a>
            <a href="{{url_for('impressum_route')}}">Impressum</a>
            <a href="{{url_for('login_route')}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
            <a href="javascript:void(0);" class="icon" onclick="NavbarFunction()">&#9776;</a>
        </div>
        {% block content %}{% endblock %}
    </body>
    <footer>
        <div class="footer">
            <p id="text">© 2022 Bäckerei Neumeyer</p>
            <div class="links">
                <a id="footer_link" href="{{url_for('impressum_route')}}">Impressum</a>
                <a id="footer_link" href="{{url_for('kontakt_route')}}">Kontakt</a>
            </div>
        </div>
    </footer>
</html>
<style>
    .heading {
        background-image: url("{{regular_data['heading_banner_img_path']}}");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
