{% extends regular_data.base_filepath %}
{% block content %}
<div class="content">
    <div class="container">
        
    </div>
    <div class="container">
        <h2 id="Datenschutz">Disclaimer – rechtliche Hinweise</h2>
        <p>Haftung für Inhalte<br> <br> Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten
            nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht
            verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die
            auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
            Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst
            ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden
            Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br> <br> Haftung für Links<br> <br> Unser Angebot
            enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für
            diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige
            Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf
            mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine
            permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung
            nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br> <br>
            Urheberrecht<br> <br> Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
            deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
            Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads
            und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf
            dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden
            Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
            bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte
            umgehend entfernen.</p>
        <p>&nbsp;</p>
        <p class="p1"><strong><span class="s1">Datenschutzerklärung</span></strong></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">1. Datenschutz auf einen Blick</span></p>
        <p class="p2">Allgemeine Hinweise</p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren
                personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit
                denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie
                unserer unter diesem Text aufgeführten Datenschutzerklärung.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Datenerfassung auf unserer Website</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Wer ist verantwortlich für die Datenerfassung auf dieser Website?</span></p>
        <p class="p1"><span class="s1">Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen
                Kontaktdaten können Sie dem Impressum dieser Website entnehmen.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Wie erfassen wir Ihre Daten?</span></p>
        <p class="p1"><span class="s1">Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann
                es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst.
                Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die
                Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Wofür nutzen wir Ihre Daten?</span></p>
        <p class="p1"><span class="s1">Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu
                gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Welche Rechte haben Sie bezüglich Ihrer Daten?</span></p>
        <p class="p1"><span class="s1">Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck
                Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung,
                Sperrung oder Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können
                Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein
                Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">2. Allgemeine Hinweise und Pflichtinformationen</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Datenschutz</span></p>
        <p class="p1"><span class="s1">Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir
                behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften
                sowie dieser Datenschutzerklärung.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben.
                Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende
                Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und
                zu welchem Zweck das geschieht.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation
                per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist
                nicht möglich.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Widerruf Ihrer Einwilligung zur Datenverarbeitung</span></p>
        <p class="p1"><span class="s1">Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich.
                Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per
                E-Mail an uns. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf
                unberührt.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">SSL- bzw. TLS-Verschlüsselung</span></p>
        <p class="p1"><span class="s1">Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher
                Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-bzw.
                TLS-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von
                “http://” auf “https://” wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. </span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns
                übermitteln, nicht von Dritten mitgelesen werden.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Auskunft, Sperrung, Löschung</span></p>
        <p class="p1"><span class="s1">Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf
                unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den
                Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu
                sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum
                angegebenen Adresse an uns wenden.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">3. Datenerfassung auf unserer Website</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Server-Log-Dateien</span></p>
        <p class="p1"><span class="s1">Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten
                Server-Log-Dateien, die Ihr Browser automatisch an uns übermittelt. Dies sind:</span></p>
        <p class="p1"><span class="s1">Browsertyp und Browserversion</span></p>
        <p class="p1"><span class="s1">verwendetes Betriebssystem</span></p>
        <p class="p1"><span class="s1">Referrer URL</span></p>
        <p class="p1"><span class="s1">Hostname des zugreifenden Rechners</span></p>
        <p class="p1"><span class="s1">Uhrzeit der Serveranfrage</span></p>
        <p class="p1"><span class="s1">IP-Adresse</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.
            </span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. f DSGVO, der die Verarbeitung
                von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Kontaktformular</span></p>
        <p class="p1"><span class="s1">Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem
                Anfrageformular inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den
                Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter. </span>
        </p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt somit
                ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können diese Einwilligung
                jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns. Die Rechtmäßigkeit der bis
                zum</span></p>
        <p class="p1"><span class="s1">Widerruf erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Die von Ihnen im Kontaktformular eingegebenen Daten verbleiben bei uns, bis Sie uns zur
                Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung
                entfällt (z.B. nach abgeschlossener Bearbeitung Ihrer Anfrage). Zwingende gesetzliche Bestimmungen –
                insbesondere Aufbewahrungsfristen – bleiben unberührt.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">4. Plugins und Tools</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Google Maps</span></p>
        <p class="p1"><span class="s1">Diese Seite nutzt über eine API den Kartendienst Google Maps. Anbieter ist die Google
                Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Zur Nutzung der Funktionen von Google Maps ist es notwendig, Ihre IP Adresse zu
                speichern. Diese Informationen werden in der Regel an einen Server von Google in den USA übertragen und dort
                gespeichert. Der Anbieter dieser Seite hat keinen Einfluss auf diese Datenübertragung. </span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden Darstellung unserer
                Online-Angebote und an einer leichten Auffindbarkeit der von uns auf der Website angegebenen Orte. Dies stellt
                ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</span></p>
        <p class="p2">&nbsp;</p>
        <p class="p1"><span class="s1">Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der Datenschutzerklärung von
                Google:</span></p>
        <p class="p1"><a href="https://www.google.de/intl/de/policies/privacy/">https://www.google.de/intl/de/policies/privacy/</a></p>
    </div>
</div>
{% endblock %}