{% extends regular_data.base_filepath %}
{% block content %}
<div class="content">
    <div class="cards">
        {% for member in team %}
        <div class="card">
            <img src="{{team[member]['img_path']}}" 
                alt="{{team[member]['vorname']}} {{team[member]['nachname']}}">
            <div class="description_container">
                <h3>{{team[member]['vorname']}} {{team[member]['nachname']}}</h3>
                <h4>{{team[member]['arbeitsplatz']}}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}