{% extends regular_data.base_filepath %}
{% block content %}
<div class="content">
    <div class="container">
        <h2 id="untertitel">Optionen</h2>
        <a id="pages_editor_link" href="{{url_for('pages_editor_route')}}">Editor</a>
    </div>
    <div class="container">
        <h2 id="untertitel">Gefahrenzone</h2>
        <a id="logout_link" href="{{url_for('logout_route')}}">Abmelden</a>
        <a id="logout_all_link" href="{{url_for('logout_all_devices_route')}}">Alle Geräte abmelden</a>
    </div>
    <div class="wrap_container" style="margin-top: 2%;">
        <div class="card_content">
            <div class="dash_card">
                <h4>Offene Sitzungen</h4>
                <p>{{number_of_sessions}}</p>
            </div>
            <div class="dash_card">
                <h4>Benutzer</h4>
                <p>{{number_of_users}}</p>
            </div>
        </div>
    </div><br><br><br>
    <div class="wrap_container" style="margin-top: 2%;">
        <div class="card_content">
            {% for sitzung in open_sessions %}
            {% if open_sessions[sitzung]['session_id'] == session_data.session_id %}
            <div class="dash_card_plus" style="border: 2px solid rgb(43, 165, 43);">
                <h4>{{open_sessions[sitzung]['username']}} <i class="fa fa-hand-o-right" 
                    aria-hidden="true"></i> <b style="color:limegreen;text-align: right;">ICH</b></h4>
            {% else %}
            <div class="dash_card_plus" style="border: 2px solid rgba(43, 165, 43, 0.527);">
                <a href="{{url_for('logout_other_device_route',session_id=open_sessions[sitzung]['session_id'])}}" id="logout_other_device_link"><i class="fa fa-trash" aria-hidden="true"></i></a>
                <h4>{{open_sessions[sitzung]['username']}}</h4>
            {% endif %}
                <p>Session-ID: <b>{{open_sessions[sitzung]['session_id']}}</b><br>Session-Key:
                    <b>{{open_sessions[sitzung]['session_key']}}</b><br>Zeitpunkt: <b>{{open_sessions[sitzung]['login_clock']}}</b></p>
            </div>
            {% endfor %}
            </div>
    </div><br><br><br>
    <div class="wrap_container">
        <div class="card_content">
            {% for anmerkung_element in anmerkungen %}
            <div class="dash_card_plus" id="anmerkungen" onclick="OpenModal('{{anmerkung_element}}');">
                <h4>{{anmerkungen[anmerkung_element]['vorname']}} {{anmerkungen[anmerkung_element]['nachname']}}</h4>
                <h5>{{anmerkungen[anmerkung_element]['time']}}</h5>
            </div>
            <div id="Modal{{anmerkung_element}}" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="CloseModal('{{anmerkung_element}}');">&times;</span>
                    <p>E-Mail: <b>{{anmerkungen[anmerkung_element]['email']}}</b></p>
                    <p>Telefon: <b>{{anmerkungen[anmerkung_element]['telefon']}}</b></p>
                    <p>{{anmerkungen[anmerkung_element]['anmerkung']}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}