.text_container {
    text-align: right;
    border-right: 7px solid rgba(65, 105, 225, 0.726);
    padding-right: 10px;
}

@media screen and (max-width: 800px) {
    iframe {
        width: 100%;
        max-width: 100%;
    }
}