.heading {
    text-align: center;
}

.heading h1 {
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 4px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 6rem;
    font-family: 'Niconne', cursive;
}

.container h2 {
    text-decoration: underline;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

@media screen and (max-width: 800px) {
    .heading h1 {
        background-color: transparent;
        font-size: 3rem;
    }
}
