form {
    margin: 5% 25%;
}

input {
    font-size: 1.1rem;
    display: block;
    padding: 10px;
    outline: none;
    border: 2px solid black;
    margin-bottom: 1%;
    width: 100%;
}

#submit {
    cursor: pointer;
}

@media screen and (max-width:800px) {
    form {
        margin: 2% 5%;
    }
}