.card_container {
    margin-bottom: 0%;
    margin-top: 0%;
}

.card {
    padding: 0px;
    float: left;
    max-width: 250px;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    background-color: white;
    border-radius: 7px;
    width: 100%;
    transition-duration: 0.3s;
    margin-right: 1%;
}

.card img {
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 100%;
}

hr {
    width: 100%;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.description_container {
    padding: 30px;
    padding-top: 0px;
    text-align: center;
}

.description_container h5 {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(65, 105, 225, 0.692);
    line-height: normal;
}

.footer {
    margin-top: 100%;
}


@media screen and (max-width: 800px) {
    .content {
        margin-left: 5%;
        margin-right: 5%;
    }

    .description_container {
        padding: 20px;
    }

    .card {
        width: 100%;
        float: none;
        display: block;
        margin-right: 0;
        max-width: 100%;
        margin-bottom: 2%;
    }
}