.card {
    padding: 0px;
    float: left;
    max-width: 400px;
    height: auto;
    margin-right: 1%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    background-color: white;
}

.card img {
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.description_container {
    padding: 30px;
}

@media screen and (max-width: 800px) {
    .description_container {
        padding: 20px;
    }
}